[defaults]
# sciezka do pliku inventory
inventory = hosts

host_key_checking = False

# wpielowatkowosc 
pipelining = True
gathering = smart
fact_caching = jsonfile
fact_caching_timeout = 86400
fact_caching_connection = /tmp/ansible_fact_cache
forks = 20

[ssh_connection]
control_path = %(directory)s/%%h-%%r

